@{
    ViewData["Title"] = "BurritoPics History!";
    Layout = "_Layout";
}

<section id="historyList" class="">
    <div class="row">
        <h2>BurritoPics History!!!1</h2>
    </div>
    <div class="row history-block">
        <div class="col-md-12">
            <h4>February 15, 2012</h4><span>Kris Komar registers the domain burritopics.com and creates the Burrito Pics site. Similar to how Apple Computer or Microsoft, Inc. did, it changed the world as we know it. <br />
            The webiste is written in plain-html.</span>
        </div>
        <div class="col-md-12">
             <h4>2014</h4><span>burritopics.com is remade in Ember.js</span>
        </div>
        <div class="col-md-12">
             <h4>2015</h4><span>burritopics.com is remade in .NET.</span>
        </div>
        <div class="col-md-12">
             <h4>2016</h4><span>burritopics.com is injected with Bootstrap to ensure that it's rich content is enjoyable on any device, including mobile.</span>
        </div>
        <div class="col-md-12">
             <h4>2017</h4><span>burritopics.com is remade in .NET core.</span>
        </div>
        <div class="col-md-12">
             <h4>2018</h4><span>burritopics is remade in .NET core 2.0 and given extra features, such as this history page!</span>
        </div>
    </div>
</section>