@{
    ViewData["Title"] = "Home";
}

<section id="burritoList" class="BurritoPics1">
    <span>Pics are now clickable!!1</span>
    <div class="row">
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito1.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito2.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito3.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito4.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito5.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito6.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito7.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito8.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito9.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito10.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito11.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito12.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito13.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito14.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito15.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/pic/1">
                <img class="BurritoImage" src="~/images/burritos/burrito16.jpeg" alt="A burrito!!1" />
                <span class="BurritoTitle">A burrito!!1</span>
            </a>
        </div>
    </div>
    </section>
