<section id="burritoList">
    <span>Pics are now clickable!!1</span>
    <ul id="burritopic-list" class="BurritoPics1">
        {{#each pic in model}}
        <li>
            {{#link-to 'pic' pic}}
            <img class="BurritoImage" {{bind-attr src="pic.src"}} {{bind-attr alt="pic.alt"}} />
            <span class="BurritoTitle">{{pic.title}}</span>
            {{/link-to}}
        </li>
        {{/each}}
    </ul>
</section>