<div class="SingleBurrito">
    <div class="GoBackBurritos" {{action 'goToIndex'}}><span>&lt;&lt; All teh burritohz</span></div><br />
    <img {{bind-attr src="model.src"}} {{bind-attr alt="model.alt"}} />
</div>
