<div class="clear">
</div>
<footer class="footer">
    <img src="Images/dividerblue.gif" /><br /><br />
    <img src="Images/counter-design.gif" title="Efficient stats" Alt="Efficient stats" border="0" />
    <br />
    <audio controls autoplay loop>
        <source src="sound/mexican-hat-dance.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
    </audio>
</footer>