<header class="header">
    <div class="title">
        <h1>
            <img src="Images/arrowed.gif" />
            BurritoPics.Com!!1
            <img src="Images/arrowed1.gif" />
        </h1>
        <div class="EmberTitle">
            <img src="Images/now-in-ember.png" alt="Now In Ember!" />
        </div>
        <h2>
            {{#link-to 'index'}}Pics{{/link-to}} |
            {{#link-to 'construction'}}Order Burrito (Pic){{/link-to}} |
            {{#link-to 'construction'}}Register{{/link-to}} |
            {{#link-to 'construction'}}Submit Pic{{/link-to}} |
            {{#link-to 'construction'}}About Us{{/link-to}} |
            {{#link-to 'construction'}}Contact Us{{/link-to}}
        </h2>
        <img src="Images/divider_pulse.gif" />
        <h3>
            We got pics of burritos!!
        </h3>
    </div>
</header>
<div class="clear">
</div>