<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>ftp://burritopics.com/</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>burr1189</UserName>
    <SavePWD>True</SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="About.aspx">
      <publishTime>02/15/2012 13:32:38</publishTime>
    </File>
    <File Include="Account/ChangePassword.aspx">
      <publishTime>02/15/2012 13:32:38</publishTime>
    </File>
    <File Include="Account/ChangePasswordSuccess.aspx">
      <publishTime>02/15/2012 13:32:38</publishTime>
    </File>
    <File Include="Account/Login.aspx">
      <publishTime>02/15/2012 13:32:38</publishTime>
    </File>
    <File Include="Account/Register.aspx">
      <publishTime>02/15/2012 13:32:38</publishTime>
    </File>
    <File Include="Account/Web.config">
      <publishTime>02/15/2012 13:32:38</publishTime>
    </File>
    <File Include="assets/f10.mid">
      <publishTime>03/20/2012 11:20:30</publishTime>
    </File>
    <File Include="assets/mexican_hat_dance.mid">
      <publishTime>03/20/2012 10:29:13</publishTime>
    </File>
    <File Include="bin/BurritoPics.dll">
      <publishTime>03/20/2012 11:20:45</publishTime>
    </File>
    <File Include="bin/BurritoPics.pdb">
      <publishTime>03/20/2012 11:20:45</publishTime>
    </File>
    <File Include="css/Site.css">
      <publishTime>02/15/2012 19:06:55</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-bg_diamond_10_4f4221_10x8.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-bg_diamond_20_372806_10x8.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-bg_diamond_25_675423_10x8.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-bg_diamond_25_d5ac5d_10x8.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-bg_diamond_8_261803_10x8.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-bg_diamond_8_443113_10x8.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-bg_flat_75_ddd4b0_40x100.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-bg_highlight-hard_65_fee4bd_1x100.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-icons_070603_256x240.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-icons_e8e2b5_256x240.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-icons_e9cd86_256x240.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-icons_efec9f_256x240.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-icons_f2ec64_256x240.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-icons_f9f2bd_256x240.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/images/ui-icons_ff7519_256x240.png">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="css/swanky-purse/jquery-ui-1.8.17.custom.css">
      <publishTime>02/15/2012 18:58:10</publishTime>
    </File>
    <File Include="Default.aspx">
      <publishTime>03/07/2012 08:36:42</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>02/15/2012 13:32:38</publishTime>
    </File>
    <File Include="Images/airplane.gif">
      <publishTime>02/15/2012 18:36:41</publishTime>
    </File>
    <File Include="Images/animation.gif">
      <publishTime>02/15/2012 18:36:41</publishTime>
    </File>
    <File Include="Images/anismiley.gif">
      <publishTime>02/15/2012 18:36:41</publishTime>
    </File>
    <File Include="Images/announce.gif">
      <publishTime>02/15/2012 18:36:41</publishTime>
    </File>
    <File Include="Images/Anvil.gif">
      <publishTime>02/15/2012 18:36:41</publishTime>
    </File>
    <File Include="Images/arrowed.gif">
      <publishTime>02/15/2012 18:36:41</publishTime>
    </File>
    <File Include="Images/arrowed1.gif">
      <publishTime>02/15/2012 18:36:41</publishTime>
    </File>
    <File Include="Images/attention.gif">
      <publishTime>02/15/2012 18:36:41</publishTime>
    </File>
    <File Include="Images/bus.gif">
      <publishTime>02/15/2012 18:36:41</publishTime>
    </File>
    <File Include="Images/constrct.gif">
      <publishTime>02/15/2012 18:36:41</publishTime>
    </File>
    <File Include="Images/construction/CaCapeCanaveralStation2739IconsUnderConstruction.gif">
      <publishTime>03/04/2012 08:50:18</publishTime>
    </File>
    <File Include="Images/construction/CoCollegeParkCampus2836construction.gif">
      <publishTime>03/04/2012 08:50:18</publishTime>
    </File>
    <File Include="Images/construction/CoColosseumField5490slunderconstruction.gif">
      <publishTime>03/04/2012 08:50:18</publishTime>
    </File>
    <File Include="Images/construction/CoColosseumField5989Construction.gif">
      <publishTime>03/04/2012 08:50:18</publishTime>
    </File>
    <File Include="Images/construction/fanthom_2000imagesunder_construction.gif">
      <publishTime>03/04/2012 08:50:18</publishTime>
    </File>
    <File Include="Images/construction/mimidohttcimagesunder-construction-header.ani.10.gif">
      <publishTime>03/04/2012 08:50:18</publishTime>
    </File>
    <File Include="Images/construction/Nova1466underconstruction.gif">
      <publishTime>03/04/2012 08:50:18</publishTime>
    </File>
    <File Include="Images/construction/ththe300exhavenunderconstruction.gif">
      <publishTime>03/04/2012 08:50:18</publishTime>
    </File>
    <File Include="Images/divider2.gif">
      <publishTime>02/15/2012 18:36:41</publishTime>
    </File>
    <File Include="Images/dividerblue.gif">
      <publishTime>02/15/2012 18:36:41</publishTime>
    </File>
    <File Include="Images/divider_pulse.gif">
      <publishTime>02/15/2012 18:36:41</publishTime>
    </File>
    <File Include="Images/divider_wiggling.gif">
      <publishTime>02/15/2012 18:36:41</publishTime>
    </File>
    <File Include="js/jquery-1.7.1.min.js">
      <publishTime>02/15/2012 18:58:15</publishTime>
    </File>
    <File Include="js/jquery-ui-1.8.17.custom.min.js">
      <publishTime>02/15/2012 18:58:15</publishTime>
    </File>
    <File Include="Site.Master">
      <publishTime>03/20/2012 11:20:39</publishTime>
    </File>
    <File Include="UnderConstruction.aspx">
      <publishTime>03/04/2012 09:06:02</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>03/20/2012 10:30:42</publishTime>
    </File>
  </ItemGroup>
</Project>